@import "~@pxblue/colors/palette.scss";

ion-header {
  position: fixed;
  top: 0;
  z-index: 11;
}
.header-content{
  padding-left: 16px;
  padding-right: 16px;
}
.menu-icon {
  margin-right: 32px;
  height: 24px;
}

.title-wrapper {
  flex: 1;
  z-index: 10;
  .mat-title,.sub-title {
    font-size: 16px;
    text-align: left;
    line-height: 100%;
    margin-bottom:0;
  }
}

.data-list {
  padding: 0;
  margin-top: calc(56px);
  margin-top: calc(56px + constant(safe-area-inset-top));
  margin-top: calc(56px + env(safe-area-inset-top));
  [mat-list-item]{
    color: map-get($pxb-black, 800);
  }
  [mat-list-avatar]{
    line-height: 40px;
    color: map-get($pxb-gray, 400);
  }
}

.alarm{
  border-left: 4px solid;
  border-left-color: #ff3333;
}
.alarm .mat-icon{
  padding-left: 0px;
}

.bottom-panal {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  transition: height 250ms ease-in-out;
  background: #fff;
  box-shadow: 0px -2px 10px 0px #000;
}

.mat-list-base {
  padding-top: 0;
}

.height-0 {
  height: 0;
  box-shadow: none;
}

.panal-margin-bottom {
  margin-bottom: 180px;
}

mat-list-item {
  border-left: 4px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  &.active{
    border-left-color: #ff3333;
    h4{
      color: #ff3333;
    }
    mat-icon{
      color: #ffffff;
      background: #ff3333;
    }
  }
}



