@import '~@pxblue/themes/angular/theme.scss';
body { 
  margin: 0;
}

* {
  //caution this will block text fields in safari
  user-select: none;
}

.vert-btn.cdk-program-focused .mat-button-focus-overlay{
  opacity: 0 !important;
}