<mat-nav-list id="bottom-panal">

  <mat-list-item (click)="openLink($event)" id="bottom-panel-item-1">
    <mat-icon mat-list-icon>done</mat-icon>
    <div mat-line>Acknowledge All</div>
  </mat-list-item>

  <mat-list-item (click)="openLink($event)" id="bottom-panel-item-2">
    <mat-icon mat-list-icon>get_app</mat-icon>
    <div mat-line>Export</div>
  </mat-list-item>

  <mat-list-item (click)="openLink($event)" id="bottom-panel-item-3">
    <mat-icon mat-list-icon>clear</mat-icon>
    <div mat-line>Cancel</div>
  </mat-list-item>

</mat-nav-list>
